/*=========Header=============*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 20px 0;
	&-color {
		.logo {
			svg {
				fill: $purple;
			}
		}
		.nav {
			&__item {
				color: $bl;
				&:hover {
					color: $purple;
					&:after {
						background-color: $purple;
					}
				}
			}
		}
		.header {
			&-menu {
				&__link {
					span {
						color: $purple;
					}
					svg {
						fill: $purple;
					}
				}
			}
		}
	}
	.page__title {
		display: none;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__row {
		display: flex;
		align-items: center;
		margin-right: 30px;
	}
	.logo {
		margin-right: 50px;
	}
	&-menu {
		&__link {
			display: inline-flex;
			align-items: center;
			margin-right: 25px;
			transition: all .2s linear;
			&:last-child {
				margin-right: 0;
			}
			svg {
				width: 22px;
				height: 22px;
				fill: $wh;
				margin-right: 5px;
				transition: all .2s linear;
			}
			span {
				font-family: $ff;
				font-size: 16px;
				font-weight: 500;
				color: $wh;
				line-height: $lh;
				transition: all .2s linear;
			}
			&:hover {
				svg {
					fill: $yellow;
				}
				span {
					color: $yellow;
				}
			}
		}
	}
}

.logo {
	display: flex;
	svg {
		width: 45px;
		height: 20px;
		fill: $wh;
		transition: all .2s linear;
	}
	&:hover {
		svg {
			fill: $yellow;
		}
	}
}

.nav {
	display: flex;
	&__item {
		font-family: $ff;
		font-size: 16px;
		font-weight: 600;
		color: $gray;
		line-height: $lh;
		transition: all .2s linear;
		position: relative;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		&:after {
			content: "";
			width: 0;
			height: 1px;
			background-color: $wh;
			position: absolute;
			bottom: -3px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
			transition: all .2s linear;
		}
		&:hover {
			color: $wh;
			&:after {
				width: 100%;
			}
		}
	}
}
/*=========/header=============*/

/*===========Burger===========*/
.burger {
	flex: 0 0 18px;
	width: 18px;
	height: 14px;
	cursor: pointer;
	position: relative;
	z-index: 100;
	display: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	&__item {
		display: block;
		width: 100%;
		height: 2px;
		background: $bl;
		transition: background .3s linear;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		border-radius: 15px;
		&:before,
		&:after {
		content: "";
		width: 100%;
		height: 2px;
		background: $bl;
		position: absolute;
		left: 0;
		z-index: 1;
		transition: transform .3s linear;
		border-radius: 15px;
		}
		&:before {
			top: -6px;
		}
		&:after {
			top: 6px;
			width: 100%;
		}
	}
	&.active {
		.burger__item {
			background: none;
		}
		.burger__item:before {
			transform-origin: left top;
			transform: rotate(45deg) translateX(0px);
		}
		.burger__item:after {
			transform-origin: left bottom;
			transform: rotate(-45deg) translateX(0px);
			width: 100%;
		}
	}
}
/*===========/burger===========*/

/*==========Mobile-menu==========*/
.mobile-menu {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 500;
	background-color: $wh;
	padding: 16px 24px;
	display: none;
	align-items: center;
	justify-content: space-between;
	&__link {
		display: inline-block;
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
		svg {
			width: 24px;
			height: 24px;
			fill: $gray2;
			transition: all .2s linear;
		}
		&:hover {
			svg {
				fill: $purple;
			}
		}
		&.active {
			svg {
				fill: $purple;
			}
		}
	}
}
/*==========/mobile-menu==========*/

/*=========Foooter==========*/
.footer {
	background-color: $wh;
	&__menu {
		padding: 30px 0;
		border-bottom: 1px solid $gray;
		display: flex;
		justify-content: space-between;
		.title-small {
			margin-bottom: 15px;
		}
	}
	&__contact {
		margin-right: 30px;
	}
	&__phone {
		display: inline-block;
		margin-bottom: 20px;
		font-family: $ff;
		font-size: 16px;
		font-weight: 500;
		color: $bl;
		line-height: $lh;
		transition: all .2s linear;
		&:hover {
			color: $purple;
		}
	}
	&__mail {
		display: none;
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
		transition: all .2s linear;
		&:hover {
			color: $purple;
		}
	}
	.btn {
		min-width: 328px;
	}
	&__links {
		display: flex;
		a {
			font-family: $ff;
			font-size: 16px;
			font-weight: 400;
			color: $bl;
			line-height: $lh;
			transition: all .2s linear;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				color: $purple;
			}
		}
	}
	&__col {
		margin-right: 120px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&:last-child {
			margin-right: 0;
		}
	}
	&__foot {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0 25px;
	}
	.logo {
		svg {
			width: 26px;
			height: 12px;
			fill: #4C3DAA;
		}
	}
	.copyright {
		display: inline-flex;
		align-items: center;
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: #70779B;
		line-height: $lh;
		svg {
			width: 11px;
			height: 12px;
			fill: #70779B;
			margin-right: 5px;
		}
	}
}
/*=========/foooter==========*/


/*============Adaptive==========*/
@media(max-width: 992px) {
	.header {
		position: fixed;
		background-color: $wh;
		transform: translateY(-100%);
		transition: all .3s linear;
		&.show {
			transform: translateY(0);
			z-index: 300;
		}
		&-menu {
			display: none;
		}
		.page__title {
			display: block;
			margin-right: 100px;
		}
		.logo {
			margin-right: 0;
			svg {
				fill: #4C3DAA;
			}
		}
	}
	.burger {
		display: block;
	}
	.nav {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 500;
		width: 100%;
		background-color: $wh;
		display: none;
		padding: 15px;
		&__item {
			display: block;
			margin-right: 0;
			margin-bottom: 20px;
			color: #4C3DAA;
			&:after {
				display: none;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media(max-width: 860px) {
	.mobile-menu {
		display: flex;
	}
	.footer {
		.btn {
			min-width: auto;
		}
		&__col {
			margin-right: 50px;
		}
	}
}

@media(max-width: 765px) {
	.footer {
		position: relative;
		&__menu {
			border-bottom: none;
			display: block;
		}
		&__links {
			margin-top: 40px;
			a {
				margin-bottom: 5px;
				color: #8A8A8A;
			}
		}
		&__col {
			width: 100%;
			margin-right: 0;
			&:nth-child(2) {
				display: none;
			}
		}
		&__contact {
			margin-right: 0;
		}
		&__contact-block {
			padding-left: 70px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 30px;
		}
		&__phone {
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 5px;
		}
		&__mail {
			display: inline-block;
		}
		&__foot {
			padding: 10px 0 20px;
		}
		.title-small {
			display: none;
		}
		.logo {
			flex-direction: column;
			position: absolute;
			top: 30px;
			left: 15px;
			z-index: 1;
			svg {
				width: 51px;
				height: 23px;
			}
		}
	}
}

@media(max-width: 546px) {
	.footer {
		.btn {
			width: 100%;
		}
		&__col {
			align-items: center;
		}
		.copyright {
			margin: 0 auto;
			color: $gray2;
			svg {
				fill: $gray2;
			}
		}
	}
}

@media(max-width: 375px) {
	.header {
		.page__title {
			margin-right: 80px;
		}
	}
}
/*============/adaptive==========*/