.page {
	padding-top: 90px;
	&__header {
		position: absolute;
		top: 20px;
		left: 0;
		width: 	100%;
		display: none;
		align-items: center;
		justify-content: space-between;
		max-width: 1230px;
		padding: 0 15px;
		.burger {
			z-index: 200;
		}
	}
	&-compare {
		background-color: $wh;
	}
}

.back {
	img {
		transform: rotate(90deg);
	}
}

.btn-back {
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	span {
		font-family: $ff;
		font-size: 20px;
		font-weight: 600;
		color: $bl;
		line-height: $lh;
		margin-left: 10px;
	}
	img {
		transform: rotate(90deg);
	}
}

.search {
	margin-bottom: 40px;
	&__close {
		display: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		cursor: pointer;
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 500;
		svg {
			width: 24px;
			height: 24px;
			stroke: $bl;
			transition: all .2s linear;
		}
		&:hover {
			svg {
				stroke: $purple;
			}
		}
	}
	&.fixed {
		@media(min-width: 992px) {
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 100;
			padding: 10px 0;
			background-color: #F7F8FA;
			box-shadow: 0px 4px 11px rgba(49, 63, 112, 0.05);
		}
	}
}

.sorting {
	margin-top: 16px;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	&:first-child {
		margin-top: 0;
	}
	&-select {
		cursor: pointer;
		display: inline-flex;
		border-radius: 6px;
		border: 1px solid $gray3;
		position: relative;
		margin-right: 20px;
		min-width: 160px;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		&:last-child {
			margin-right: 0;
		}
		&__select {
			padding: 9px 12px;
			width: 100%;
			justify-content: center;
			transition: all .2s linear;
			svg, span {
				transition: all .2s linear;
			}
			&:hover {
				svg {
					stroke: $bl;
				}
				span {
					color: $bl;
				}
			}
			&.active {
				svg {
					stroke: $bl;
				}
				span {
					color: $bl;
				}
			}
		}
		&__select, &__option {
			display: flex;
			align-items: center;
			svg {
				margin-right: 5px;
				width: 16px;
				height: 17px;
				stroke: $gray3;
				transition: all .2s linear;
			}
			span {
				font-family: $ff;
				font-size: 14px;
				font-weight: 400;
				color: $gray3;
				line-height: $lh;
			}
		}
		&__dropdown {
			display: none;
			position: absolute;
			top: calc(100% + 1px);
			left: 0;
			z-index: 50;
			background-color: $wh;
			padding: 3.5px 5px;
			min-width: 230px;
			border-radius: 6px;
			filter: drop-shadow(0px 0px 8px rgba(27, 27, 44, 0.4));
			&:before {
				content: "";
				width: 24px;
				height: 24px;
				background: url("../images/arrow-down.svg") center no-repeat;
				position: absolute;
				top: 10px;
				right: 10px;
				z-index: 1;
				transform: rotate(180deg);
			}
		}
		&__inner {
			display: flex;
			flex-direction: column;
		}
		&__option {
			padding: 10px 40px 10px 5px;
			transition: all .2s linear;
			&:hover {
				background-color: $lgray;
			}
			&.selected {
				order: -1;
				background-color: $wh;
				span {
					color: $bl;
				}
				svg {
					stroke: $bl;
				}
			}
		}
		&_right {
			.sorting-select__dropdown {
				left: auto;
				right: 0;
			}
		}
	}
	&-btn {
		display: inline-flex;
		border-radius: 6px;
		border: 1px solid $gray3;
		padding: 9px 12px;
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $gray3;
		line-height: $lh;
		transition: all .2s linear;
		text-align: center;
		justify-content: center;
		&:hover {
			color: $bl;
			border-color: $bl;
		}
		&.active {
			background-color: $purple;
			color: $wh;
			border-color: $purple;
		}
		&_lpurple {
			&.active {
				background-color: $lpurple;
				color: $bl;
				border-color: $lpurple;
			}
		}
	}
	&-quantity {
		font-family: $ff;
		font-size: 14px;
		font-weight: 500;
		color: $gray3;
		line-height: $lh;
	}
	&__buttons {
		margin-left: auto;
		display: flex;
		align-items: center;
		.sorting-btn {
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&-view {
		margin-right: 15px;
		a {
			display: inline-block;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
			svg {
				width: 24px;
				height: 24px;
				fill: $gray3;
				transition: all .2s linear;
			}
			&.active {
				svg {
					fill: $bl;
				}
			}
		}
	}
	&.justify {
		justify-content: space-between;
		align-items: flex-start;
		>* {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__col {
		display: flex;
		align-items: center;
		.sorting__buttons {
			margin-left: 0;
			margin-right: 20px;
		}
		.sorting-btn {
			min-width: 140px;
		}
	}
}/*============/sorting=========*/

/*===========Autor============*/
.autor {
	border-top: 1px solid $gray;
	padding-top: 20px;
	display: flex;
	align-items: center;
	&-icon {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: $lpurple;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
		img {
			max-width: 55%;
			min-width: 50%;
		}
	}
	&-name {
		display: block;
		font-family: $ff;
		font-size: 16px;
		font-weight: 500;
		color: $bl;
		line-height: $lh;
		margin-bottom: 3px;
	}
	&-status {
		display: flex;
		align-items: center;
		margin-bottom: 3px;
		span {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $d-blue;
			line-height: $lh;
			margin-right: 3px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&-reviews {
		display: inline-block;
		font-family: $ff;
		font-size: 11px;
		font-weight: 400;
		color: $d-blue;
	}
}
/*===========/autor============*/

/*============Info===========*/
.info {
	margin-top: 40px;
	background-color: $wh;
	&:first-child {
		margin-top: 0;
	}
	&__block {
		padding: 20px 30px 0;
		&:last-child {
			.info__title {
				border-bottom: none;
			}
			.info__content {
				border-top: 1px solid $gray;
			}
		}
	}
	&__title {
		font-family: $ffm;
		font-size: 20px;
		font-weight: 600;
		color: $bl;
		line-height: $lh;
		padding-right: 30px;
		position: relative;
		border-bottom: 1px solid $gray;
		padding-bottom: 20px;
		&:after {
			content: "";
			width: 24px;
			height: 24px;
			background: url("../images/arrow-down.svg") center no-repeat;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			transition: all .3s linear;
		}
		&.active {
			&:after {
				transform: rotate(180deg);
			}
		}
	}
	&__content {
		display: none;
		padding: 20px 0 50px;
	}
	&__flex {
		display: flex;
		align-items: flex-start;
		>* {
			width: calc(50% - 40px);
			margin-right: 80px;
			&:last-child {
				margin-right: 0;
			}
		}
		.tags {
			width: calc(55% - 20px);
			margin-left: -40px;
		}
		@media(min-width: 768px) {
			padding-right: 40px;
		}
	}
	&-item {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 15px;
		border-bottom: 1px solid $gray;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}
		&__description {
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $bl;
			line-height: $lh;
		}
		&__data {
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $bl;
			line-height: $lh;
		}
		&_main {
			.info-item__data {
				font-size: 20px;
				font-weight: 600;
			}
		}
	}
	.tags {
		margin-left: -5px;
		>* {
			margin-left: 5px;
		}
	}
	&__text {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $bl;
		line-height: 1.5;
	}
	&__map {
		margin-bottom: 30px;
		>* {
			width: 100%;
			min-height: 200px;
			object-fit: cover;
		}
	}
	&-address {
		max-width: 330px;
		&__description {
			display: block;
			font-family: $ff;
			font-size: 16px;
			font-weight: 400;
			color: $d-blue;
			line-height: $lh;
			margin-bottom: 10px;
			a {
				color: $d-blue;
			}
		}
		&__row {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__place {
			display: flex;
			align-items: flex-start;
			margin-right: 10px;
			span {
				font-family: $ff;
				font-size: 14px;
				font-weight: 400;
				color: $green;
				line-height: $lh;
			}
		}
		&__distance {
			display: flex;
			align-items: flex-start;
			span {
				font-family: $ff;
				font-size: 14px;
				font-weight: 400;
				color: $d-blue;
				line-height: $lh;
			}
		}
	}
	.comments {
		max-width: 750px;
	}
}
/*============/info===========*/

/*============Comments==========*/
.comments {
	&__item {
		display: flex;
		align-items: flex-start;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__icon {
		flex: 0 0 40px;
		margin-right: 10px;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $lgray;
		border-radius: 50%;
		span {
			font-family: $ff;
			font-size: 12px;
			font-weight: 500;
			color: $purple;
			line-height: $lh;
			text-transform: uppercase;
		}
	}
	&__info {
		padding-top: 10px;
	}
	&__autor {
		font-family: $ff;
		font-size: 14px;
		font-weight: 700;
		color: $bl;
		line-height: $lh;
		margin-bottom: 10px;
	}
	&__date {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $gray3;
		line-height: $lh;
		margin-bottom: 5px;
	}
	&__text {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
	}
	&__all {
		display: none;
	}
	&__btn-all {
		margin-top: 30px;
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
		transition: all .2s linear;
		text-align: center;
		position: relative;
		a {
			color: $bl;
			transition: all .2s linear;
			text-decoration: underline;
			&:hover {
				color: $purple;
			}
		}
		&__hide {
			position: absolute;
			top: 0;
			left: 50%;
			z-index: 1;
			opacity: 0;
			transform: translateX(-50%);
			text-decoration: underline;
			&.show {
				opacity: 1;
			}
		}
		&__show {
			&.hide {
				opacity: 0;
			}
		}
	}
}
/*============/comments==========*/

/*==========Compare============*/
.compare {
	.title {
		width: 25%;
		padding-right: 20px;
		margin-bottom: -75px;
	}
	&-table {
		display: flex;
		* {
			-ms-overflow-style: none;
      		scrollbar-width: none;
      		&::-webkit-scrollbar {
      			width: 0;
      			height: 0;
      		}
		}
	}
	&__name {
		width: 25%;
		min-width: 300px;
		&-title {
			height: 255px;
		}
		&-content {
			.compare__item {
				background-color: $lgray;
				font-weight: 500;
				color: #556883;
				border-width: 0px 0px 1px 1px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:first-child {
					border-width: 1px 0px 1px 1px;
					border-radius: 10px 0px 0px 0px;
				}
				&:last-child {
					border-radius: 0px 0px 0px 10px;
					height: 116.75px;
				}
			}
		}
	}
	&__content {
		flex: 1 1 auto;
		display: flex;
		overflow-x: auto;
		margin-right: -300px;
		.compare__col {
			min-width: 300px;
		}
		&.two {
			margin-right: 0;
			overflow-x: visible;
		}
	}
	&__item {
		border: 1px solid $gray;
		border-width: 0px 0px 1px 1px;
		padding: 10px;
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		line-height: $lh;
		color: $d-blue;
		min-height: 40.2px;
		&:first-child {
			border-width: 1px 0px 1px 1px;
			height: 61px;
		}
	}
	&__col {
		width: 50%;
		&:last-child {
			.compare__item {
				border-width: 0px 1px 1px 1px;
				&:first-child {
					border-radius: 0px 10px 0px 0px;
					border-width: 1px 1px 1px 1px;
				}
				&:last-child {
					border-radius: 0px 0px 10px 0px;
				}
			}
			.compare-menu__dropdown {
				left: auto;
				right: 0;
				transform: translateX(0);
			}
		}
	}
	&-product {
		height: 255px;
		padding: 0 10px 10px;
		&__photo {
			height: 200px;
			max-width: 330px;
			position: relative;
			cursor: pointer;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__price {
			margin-top: 20px;
			font-family: $ff;
			font-size: 20px;
			font-weight: 600;
			color: $bl;
			line-height: $lh;
		}
		.qt-pagin {
			position: absolute;
			bottom: 10px;
			left: 10px;
			z-index: 1;
		}
		.time {
			position: absolute;
			top: 10px;
			left: 10px;
			z-index: 1;
		}
		.stat-box {
			position: absolute;
			bottom: 10px;
			right: 10px;
			z-index: 1;
		}
	}
	&__photo {
		cursor: pointer;
		display: none;
		img {
			width: 40px;
			height: 40px;
			object-fit: cover;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
	&__data {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		line-height: $lh;
		color: $d-blue;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		span {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__row {
		display: flex;
		align-items: center;
	}
	&-menu {
		margin-left: auto;
		position: relative;
		&__icon {
			width: 30px;
			height: 30px;
			flex: 0 0 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $yellow;
			border-radius: 50%;
			transition: all .2s linear;
			cursor: pointer;
			img {
				width: 24px;
				&:first-child {
					width: 16px;
				}
				&:nth-child(2) {
					display: none;
				}
			}
			&.active {
				img {
					&:first-child {
						display: none;
					}
					&:nth-child(2) {
						display: block;
					}
				}
			}
		}
		&__dropdown {
			display: none;
			width: 200px;
			padding: 10px;
			background-color: $wh;
			filter: drop-shadow(0px 0px 8px rgba(27, 27, 44, 0.4));
			border-radius: 10px;
			position: absolute;
			top: calc(100% + 5px);
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
			a {
				display: block;
				font-family: $ff;
				font-size: 16px;
				font-weight: 400;
				color: $d-blue;
				line-height: $lh;
				margin-bottom: 10px;
				transition: all .2s linear;
				&:hover {
					color: $purple;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&__autor {
		margin-bottom: 10px;
		span {
			display: block;
			font-family: $ff;
			font-size: 11px;
			font-weight: 400;
			color: $d-blue;
			line-height: $lh;
		}
	}
	&__contact {
		display: inline-block;
		text-align: center;
		border: 1px solid $d-purple;
		border-radius: 5px;
		padding: 9px;
		width: 200px;
		max-width: 80%;
		svg {
			width: 16px;
			height: 16px;
			fill: $d-purple;
		}
	}
}
/*==========/compare============*/

/*==========Calc============*/
.calc {
	&__inner {
		margin-top: 20px;
		display: flex;
	}
	&-filters {
		width: calc(50% - 10px);
		margin-right: 20px;
		&__item {
			margin-bottom: 20px;
			background-color: $wh;
			border-radius: 6px;
			&:last-child {
				margin-bottom: 0;
			}
			&.mb-50 {
				margin-bottom: 50px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__block {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
			.filters-description {
				margin-bottom: 20px;
			}
		}
		.filters-radiobox {
			width: 100%;
			.filters-radio {
				flex: 1 1 50%;
				label {
					height: 100%;
					display: inline-flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
		.filters-range {
			margin-top: 5px;
		}
	}/*===/calc-fiters===*/
	&-result {
		width: calc(50% - 10px);
		.title-small {
			color: $wh;
			margin-bottom: 20px;
		}
		&__box {
			background-color: $purple;
			border-radius: 6px;
			padding: 30px;
			margin-top: 20px;
			&:first-child {
				margin-top: 0;
			}
		}
		&__description {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $wh;
			line-height: $lh;
			margin-bottom: 10px;
		}
		&__data {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $wh;
			line-height: $lh;
		}
		&__header {
			display: flex;
			align-items: flex-start;
			margin-left: -40px;
			>* {
				width: calc(50% - 40px);
				margin-left: 40px;
				margin-bottom: 20px;
			}
			.calc-result__description {
				font-size: 16px;
			}
			.calc-result__data {
				font-size: 30px;
				font-weight: 600;
			}
		}
		&__item {
			display: flex;
			align-items: flex-start;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			.calc-result__description {
				color: $lpurple2;
				margin-right: 30px;
			}
			.calc-result__data {
				color: $lpurple2;
				span {
					&:nth-child(2) {
						margin-top: 5px;
						display: block;
						font-weight: 500;
						color: $wh;
					}
				}
			}
		}
		&__income {
			.calc-result__description,
			.calc-result__data {
				color: $lpurple;
			}
		}
		&__form {
			display: flex;
			flex-wrap: wrap;
			margin-left: -20px;
			margin-bottom: -20px;
			>* {
				width: calc(50% - 20px);
				margin-left: 20px;
				margin-bottom: 20px;
			}
		}
		&__link {
			font-family: $ff;
			font-size: 16px;
			font-weight: 400;
			color: $purple;
			line-height: $lh;
			transition: all .2s linear;
			&:hover {
				text-decoration: underline;
			}
		}
		&__buttons {
			margin-top: 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
			>* {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}/*===/calc-result===*/
	&-early {
		display: none;
	}
}
/*==========/calc============*/

/*=========Photo-slider=========*/
.photo-slider {
	height: calc(100vh - 200px);
	&__item {
		height: 50%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__tools {
		background-color: $bl;
		display: flex;
		align-items: center;
		padding: 12px 16px;
		.favorite {
			background: $bl;
			margin-left: auto;
			margin-right: 44px;
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
	&__pagin {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $wh;
		line-height: $lh;
	}
}
/*=========/photo-slider=========*/

/*===========Slider===========*/
.slider {
	&-arrow {
		cursor: pointer;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(1.5px);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .2s linear;
		svg {
			width: 24px;
			height: 24px;
			fill: none;
			stroke: $bl;
			transition: all .2s linear;
		}
		&_prev {
			transform: rotate(90deg);
		}
		&_next {
			transform: rotate(-90deg);
		}
		&:hover {
			background: rgba(255, 255, 255, 0.5);
		}
	}
}
/*===========/slider===========*/

/*==========Payment-schedule=========*/
.payment-schedule {
	overflow-x: auto;
	&__header {
		min-width: 775px;
	}
	&__content {
		overflow-y: auto;
		max-height: calc(100vh - 360px);
		min-width: 775px;
	}
	&__row {
		display: flex;
		border-bottom: 1px solid $lpurple;
		>* {
			flex: 0 0 14%;
			&:first-child {
				flex: 0 0 7%;
			}
			&:nth-child(4) {
				flex: 0 0 20%;
			}
			&:nth-child(5) {
				flex: 1 1 auto;
			}
		}
	}
	&__item {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
	}
}
/*==========/payment-schedule=========*/

/*===========Adaptive===========*/
@media(max-width: 1200px) {
	.compare {
		&__content {
			margin-right: -15px;
		}
		&__name {
			min-width: 200px;
		}
	}
}
@media(max-width: 992px) {
	.page {
		padding-top: 65px;
		&__header {
			display: flex;
		}
	}
	.btn-back {
		display: none;
	}
	.calc {
		&-filters {
			.filters-radio {
				label {
					font-size: 12px;
				}
			}
			.btn {
				width: 100%;
			}
		}
		&-result {
			&__header {
				flex-wrap: wrap;
				>* {
					width: auto;
				}
			}
			&__form {
				>* {
					width: auto;
					flex: 1 1 45%;
				}
			}
			&__box {
				padding: 20px 15px;
			}
		}
	}
	.payment-schedule {
		&__content {
			max-height: calc(100vh - 150px);
		}
	}
	.compare {
		margin-top: 20px;
		&__content {
			&.two {
				overflow-x: auto;
			}
		}
	}
	.search {
		&__close {
			display: inline-block;
		}
		transform: translateY(-100%);
		transition: all .4s linear;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2000;
		background-color: $lgray;
		padding: 40px 0 20px;
		&.show {
			transform: translateY(0);
			.filters__inner {
				overflow: auto;
				max-height: 100vh;
			}
		}
		.filters__inner {
			margin-left: 0;
		}
		.filters__item {
			width: 100%;
			margin-left: 0;
		}
		.filters-rangeprice {
			width: 100%;
		}
		.filters__inner.flex-end .filters__item {
			margin-left: 0;
		}
		.filters__inner.flex-end .filters-checkbox label {
			min-width: 40px;
		}

		.filters__inner.flex-end .filters-link.open-popup{
			margin-right: 30px;
		}
	}
}

@media(max-width: 765px) {
	.sorting  {
		&__col {
			flex-wrap: wrap;
			margin-bottom: -5px;
			>* {
				margin-bottom: 5px;
			}
		}
	}
	.calc {
		&__inner {
			display: block;
		}
		&-filters {
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}
		&-result {
			width: 100%;
		}
	}
	.compare {
		.title {
			width: 100%;
			padding: 0;
			br {
				display: none;
			}
			margin-bottom: 20px;
		}
		&__photo {
			display: block;
		}
		&__name {
			min-width: 100px;
			&-title {
				min-height: auto;
				display: none;
			}
		}
		&__content {
			.compare__col {
				min-width: 200px;
			}
		}
		&__item {
			&:first-child {
				height: 62px;
			}
			&:nth-child(7) {
				height: 71.6px;
			}
		}
		.product__row {
			flex-wrap: wrap;
		}
		&-product {
			display: none;
		}
	}
}
@media(max-width: 546px) {
	.sorting {
		justify-content: space-between;
		&__buttons {
			display: none;
		}
		&-quantity {
			order: -1;
		}
		&-select {
			min-width: auto;
			margin-right: 0;
			border: none;
			padding: 0;
			&__select {
				padding: 0;
				span {
					color: $bl;
				}
				svg {
					stroke: $bl;
				}
			}
			&__dropdown {
				left: auto;
				right: 0;
				top: calc(100% + 3px);
			}
		}
	}
}

@media(max-width: 410px) {
	.calc {
		&-filters {
			.filters-radio {
				label {
					font-size: 11px;
				}
			}
		}
	}
}
/*===========/adaptive===========*/