@import 'fonts.scss';
@import 'variables.scss';
@import 'page.scss';
@import 'filters.scss';
@import 'form.scss';
@import 'popup.scss';
@import 'pages.scss';
@import 'account.scss';


/*Reset
===============*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: $ff;
	line-height: 1;
	font-size: 16px;
	color: $bl;
	background-color: $lgray;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body.hidden {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.section {
	margin-bottom: 120px;
}

.block {
	margin-bottom: 60px;
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.link {
			margin-bottom: 30px;
			margin-left: 30px;
		}
	}
}

#gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	pointer-events: none;
	visibility: hidden;
}

.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.bg-wh {
	background-color: $wh;
	padding: 60px 0 40px;
}

.title-main {
	font-family: $ffm;
	font-size: 40px;
	font-weight: 700;
	color: $wh;
	line-height: $lh;
	letter-spacing: 0.02em;
	@media(max-width: 1920px) {
		@include adaptiv-font(40, 22);
	}
	a {
		color: $wh;
		transition: all .2s linear;
		border-bottom: 2px dashed #FFFFFF;
		&:hover {
			color: $yellow;
			border-color: $yellow;
		}
	}
	&__sub {
		font-size: 32px;
		//font-family: $ff;
		display: block;
		@media(max-width: 1920px) {
			@include adaptiv-font(32, 18);
		}
	}
}

.title {
	font-family: $ffm;
	font-size: 32px;
	font-weight: 700;
	color: $bl;
	line-height: $lh;
	a {
		color: $bl;
	}
	@media(max-width: 1920px) {
		@include adaptiv-font(32, 20);
	}
}

.title-medium {
	font-family: $ff;
	font-size: 25px;
	font-weight: 600;
	color: $bl;
	line-height: $lh;
	a {
		color: $bl;
	}
	&_mus {
		font-family: $ffm;
	}
}

.title-small {
	font-family: $ff;
	font-size: 20px;
	font-weight: 600;
	color: $bl;
	line-height: $lh;
	a {
		color: $bl;
	}
	&_mus {
		font-family: $ffm;
	}
}

.title-stat {
	display: inline-block;
	position: relative;
	padding-right: 18px;
	span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: 16px;
		height: 16px;
		padding: 0 2px;
		border-radius: 50%;
		border: 1px solid $red;
		font-family: $ff;
		font-size: 9px;
		font-weight: 500;
		color: $red;
		line-height: $lh;
		position: absolute;
		top: -5px;
		right: 0;
	}
}

.subtitle {
	font-family: $ff;
	font-size: 16px;
	font-weight: 400;
	color: $gray2;
	line-height: $lh;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: $purple;
	border-radius: 6px;
	padding: 16px 34px;
	font-family: $ff;
	font-size: 14px;
	font-weight: 700;
	color: $wh;
	line-height: $lh;
	transition: all .2s linear;
	&:hover {
		background-color: $d-purple;
		svg {
			fill: $d-purple;
		}
	}
	img {
		margin-right: 6px;
		&:last-child {
			margin-right: 0;
		}
	}
	svg {
		margin-right: 6px;
		width: 24px;
		height: 24px;
		fill: $purple;
		transition: all .2s linear;
		&:last-child {
			margin-right: 0;
		}
	}
	&_light {
		background-color: $lblue;
		&:hover {
			background-color: $blue;
		}
	}
	&_black {
		background-color: transparent;
		color: $bl;
		border: 1px solid $bl;
		&:hover {
			background-color: transparent; 
			color: $purple;
			border-color: $purple;
			svg {
				fill: $purple;
			}
		}
		svg {
			fill: $bl;
		}
	}
	&-lblue {
		background-color: #BFC3E2;
		color: $purple;
		&:hover {
			background-color: #BFC3E2;
			color: $blue;
		}
	}
	&_yellow {
		background-color: $d-yellow;
		&:hover {
			background-color: $yellow;
		}
	}
	&.inactive {
		background-color: $gray2;
	}
}

.btn-transparent {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: transparent;
	border-radius: 6px;
	padding: 16px 10px;
	font-family: $ff;
	font-size: 14px;
	font-weight: 700;
	color: $purple;
	border: 1px solid $purple;
	line-height: $lh;
	transition: all .2s linear;
	&:hover {
		background-color: $purple;
		color: $wh;
	}
	img {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.btn-white {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: $wh;
	border-radius: 6px;
	padding: 13px 10px;
	font-family: $ff;
	font-size: 14px;
	font-weight: 700;
	color: $purple;
	border: 1px solid $purple;
	line-height: $lh;
	transition: all .2s linear;
	&:hover {
		background-color: transparent;
	}
	img {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.btn-gradient {
	background: linear-gradient(97.31deg, #6A56E8 -9.55%, #ED4AE9 98.42%);
	border-radius: 6px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 16px;
	font-family: $ff;
	font-size: 14px;
	font-weight: 700;
	color: $wh;
	line-height: $lh;
}

.btn-dashed {
	display: inline-block;
	text-align: center;
	border: 2px dashed $purple;
	border-radius: 10px;
	padding: 16.5px 80px;
	font-family: $ff;
	font-size: 14px;
	font-weight: 700;
	color: $purple;
	line-height: $lh;
	transition: all .2s linear;
	&:hover {
		background-color: $wh;
	}
}

.btn-contact {
	min-width: 208px;
	position: relative;
	.btn {
		width: 100%;
		cursor: pointer;
	}
	&-show {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	&-phone {
		transition: all .2s linear;
		opacity: 0;
		pointer-events: none;
		flex-direction: column;
		height: 50px;
		&.show {
			opacity: 1;
			pointer-events: auto;
		}
		span {
			display: block;
		}
	}
}

.btn-call {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $purple;
	transition: all .2s linear;
	img {
		width: 16px;
		height: 16px;
	}
	&:hover {
		background-color: $d-purple;
	}
}

.btn-chat {
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		width: 17px;
		height: 16px;
		fill: none;
		stroke: $d-blue;
		margin-right: 6px;
		transition: all .2s linear;
	}
	span {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $d-blue;
		line-height: $lh;
		transition: all .2s linear;
	}
	&:hover {
		svg {
			stroke: $purple;
		}
		span {
			color: $purple;
		}
	}
}

.change-btn {
	display: flex;
	background-color: $wh;
	border-radius: 6px;
	padding: 5px;
	a {
		flex: 1 1 auto;
		margin-right: 10px;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		display: inline-block;
		width: 100%;
		text-align: center;
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.02em;
		color: $d-blue;
		transition: all .2s linear;
		padding: 8px 10px;
		border-radius: 6px;
		cursor: pointer;
		@media(min-width: 1025px) {
			&:hover {
				background-color: $gray;
				color: $bl;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		&.active {
			color: $bl;
			background-color: $yellow;
		}
	}
}

.delete-btn {
	display: inline-block;
	svg {
		width: 24px;
		height: 24px;
		fill: none;
		stroke: $red;
		transition: all .2s linear;
	}
	&:hover {
		svg {
			stroke: $bl;
		}
	}
}

.links-btn {
	display: none;
	position: fixed;
	top: 200px;
	right: 15px;
	z-index: 500;
	a {
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $yellow;
		border-radius: 50%;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		img {
			width: 32px;
		}
	}
}

.text {
	font-family: $ff;
	font-size: 16px;
	font-weight: 400;
	color: $bl;
	line-height: $lh;
}

.link {
	font-family: $ff;
	font-size: 14px;
	font-weight: 400;
	line-height: $lh;
	color: $d-blue;
	transition: all .2s linear;
	display: inline-flex;
	align-items: center;
	svg {
		width: 16px;
		height: 16px;
		stroke: $d-blue;
		fill: none;
		transform: rotate(-90deg);
		transition: all .2s linear;
	}
	&:hover {
		color: $blue;
		svg {
			stroke: $blue;
		}
	}
}

.favorite {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(35, 35, 35, 0.5);
	border-radius: 50%;
	transition: all .2s linear;
	svg {
		width: 14px;
		height: 16px;
		stroke: $wh;
		stroke-width: 2px;
		fill: none;
		transition: all .2s linear;
	}
	@media(min-width: 1025px) {
		&:hover {
			background: rgba(35, 35, 35, 0.3);
		}
	}
	&.active {
		svg {
			fill: $wh;
		}
	}
}

.time {
	display: inline-block;
	background: rgba(35, 35, 35, 0.5);
	padding: 4px 8px;
	font-family: $ff;
	font-size: 14px;
	font-weight: 400;
	color: $wh;
	line-height: $lh;
	border-radius: 400px;
	backdrop-filter: blur(3px);
	letter-spacing: 0.02em;
}

.viewer-qt {
	display: inline-flex;
	align-items: center;
	background: rgba(35, 35, 35, 0.5);
	padding: 4px 8px;
	border-radius: 400px;
	backdrop-filter: blur(3px);
	svg {
		width: 16px;
		height: 17px;
		fill: none;
		stroke: $wh;
		margin-right: 3px;
	}
	span {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $wh;
		line-height: $lh;
	}
}

.qt-pagin {
	display: inline-block;
	background: rgba(35, 35, 35, 0.5);
	padding: 4px 10px;
	border-radius: 400px;
	backdrop-filter: blur(3px);
	font-family: $ff;
	font-size: 14px;
	font-weight: 400;
	color: $wh;
	line-height: $lh;
}

.stat-box {
	background: rgba(35, 35, 35, 0.5);
	padding: 4px 10px;
	border-radius: 400px;
	backdrop-filter: blur(3px);
	font-family: $ff;
	font-size: 14px;
	font-weight: 400;
	color: $wh;
	line-height: $lh;
	display: inline-flex;
	align-items: center;
	svg {
		width: 16px;
		height: 17px;
		fill: none;
		stroke: $wh;
		margin-right: 3px;
	}
	&__item {
		display: flex;
		align-items: center;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.term-box {
	display: inline-block;
	background: linear-gradient(91.09deg, #734AD7 2.36%, #B72EA6 113.94%);
	backdrop-filter: blur(1.5px);
	padding: 10px;
	border-radius: 53px;
	font-family: $ff;
	font-size: 14px;
	font-weight: 400;
	color: $wh;
	line-height: $lh;
	text-align: center;
}

.estimation {
	display: flex;
	&-btn {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		svg {
			width: 24px;
			height: 24px;
			fill: none;
			stroke: $gray3;
			transition: all .2s linear;
		}
		&-like {
			&.active {
				svg {
					stroke: $green;
				}
			}
		}
		&-dislike {
			&.active {
				svg {
					stroke: $red;
				}
			}
		}
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	li {
		margin-right: 6px;
		&:last-child {
			margin-right: 0;
		}
		&.slick-active {
			button {
				width: 18px;
				border-radius: 20px;
			}
		}
	}
	button {
		font-size: 0;
		color: transparent;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #D5DBE3;
		transition: all .2s linear;
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-bottom: -10px;
	>* {
		margin-left: 10px;
		margin-bottom: 10px;
	}
	&.blue {
		.tag {
			background-color: $blue;
			color: $wh;
		}
	}
	&.purple {
		.tag {
			background-color: $purple;
			color: $wh;
		}
	}
}

.tag {
	display: inline-block;
	text-align: center;
	background-color: $lgray;
	padding: 9px 10px;
	border-radius: 500px;
	font-family: $ff;
	font-size: 14px;
	font-weight: 500;
	color: $d-blue;
	line-height: $lh;
	&.red {
		color: $red;
	}
	&.green {
		color: $green;
	}
}


/*========Intro==========*/
.intro {
	min-height: 100vh;
	padding: 100px 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/apartment_1.jpg") center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__inner {
		display: flex;
		align-items: center;
	}
	&__info {
		flex: 1 1 auto;
		padding-right: 30px;
		display: flex;
		.logo {
			display: none;
			flex-direction: column;
		}
	}
	&__filters {
		flex: 0 1 500px;
	}
}
/*========/intro==========*/

/*=========Card===========*/
.card {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin-left: -20px;
		margin-bottom: -20px;
		>* {
			width: calc(33.33333% - 20px);
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}
	&-box {
		background-color: $wh;
		border-radius: 6px;
		padding: 30px;
		display: flex;
		flex-direction: column;
		&__header {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			.title-small {
				margin-right: 10px;
			}
			.link {
				display: none;
				margin-bottom: 15px;
			}
		}
		&__content {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
		}
		&__list {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: -5px;
			}
			a {
				display: inline-block;
				font-family: $ff;
				font-size: 14px;
				font-weight: 400;
				color: $d-blue;
				margin-right: 10px;
				margin-bottom: 5px;
				line-height: $lh;
				position: relative;
				padding-left: 10px;
				transition: all .2s linear;
				&:before {
					content: "";
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: $d-blue;
					position: absolute;
					top: 50%;
					left: 0;
					z-index: 1;
					transform: translateY(-50%);
				}
				&:hover {
					color: $lblue;
					&:before {
						background-color: $lblue;
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.title-small {
			margin-bottom: 15px;
		}
		.text {
			margin-bottom: 15px;
		}
		.btn {
			padding: 10px 15px;
		}
	}
}
/*=========/card===========*/

/*========Linkbox=========*/
.linkblock {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	margin-left: -20px;
	>* {
		width: calc(25% - 20px);
		margin-left: 20px;
		margin-bottom: 20px;
		&:nth-child(3n+3) {
			margin-right: 20px;
		}
	}
}

.linkbox {
	background-color: $wh;
	border-radius: 6px;
	padding: 15px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: $ff;
	font-size: 16px;
	font-weight: 400;
	color: $d-blue;
	transition: all .2s linear;
	&:hover {
		color: $blue;
	}
}
/*========/linkbox=========*/

/*===========Product========*/
.product {
	&__inner {
		display: flex;
		margin-right: -20px;
		.slick-slide {
			margin-right: 20px;
		}
		.product-card {
			width: 285px;
		}
		.slick-list {
			padding-bottom: 15px;
			margin-bottom: -15px;
		}
	}
	&__reason {
		font-family: $ff;
		font-size: 16px;
		font-weight: 500;
		color: $purple;
		line-height: $lh;
		width: 208px;
		margin-left: auto;
		text-align: center;
		margin-top: -30px;
	}
	&-autor {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&__icon {
			margin: 0 auto 15px;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			background-color: $lgray;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				max-width: 55%;
				min-width: 50%;
			}
		}
		&__name {
			margin-bottom: 15px;
			span {
				display: block;
				font-family: $ff;
				font-size: 14px;
				font-weight: 400;
				color: $d-blue;
				line-height: $lh;
				margin-bottom: 3px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__org {
			display: inline-block;
			font-family: $ff;
			font-size: 20px;
			font-weight: 600;
			color: $bl;
			transition: all .2s linear;
			line-height: $lh;
			a {
				transition: all .2s linear;
				color: $bl;
				&:hover {
					color: $purple;
				}
			}
		}
		&__date {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $d-blue;
			line-height: $lh;
			margin-bottom: 15px;
		}
		.btn-chat {
			margin-top: 15px;
		}
	}
	&__header {
		display: flex;
		align-items: flex-start;
		.product-card-buttons {
			margin-left: auto;
			margin-top: 5px;
		}
		.product__name {
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__price {
		font-family: $ff;
		font-size: 32px;
		font-weight: 600;
		color: $bl;
		line-height: $lh;
	}
	&__description {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $d-blue;
		line-height: $lh;
		margin-bottom: 5px;
	}
	&__data {
		font-family: $ff;
		font-size: 16px;
		font-weight: 500;
		color: $d-blue;
		line-height: $lh;
		margin-bottom: 20px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__flex {
		display: flex;
		align-items: center;
	}
	&__build {
		display: inline-flex;
		align-items: center;
		margin-right: 5px;
		margin-bottom: 5px;
		span {
			font-family: $ff;
			font-size: 16px;
			font-weight: 400;
			color: $purple;
			line-height: $lh;
		}
		img {
			margin-right: 5px;
		}
	}
	&__place {
		display: flex;
		align-items: flex-start;
		margin-right: 10px;
		span {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $green;
			line-height: $lh;
		}
	}
	&__distance {
		display: flex;
		align-items: flex-start;
		span {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $d-blue;
			line-height: $lh;
			white-space: nowrap;
		}
	}
	&__favorite {
		margin-left: 50px;
		&:first-child {
			margin-left: 0;
		}
		.favorite {
			width: 50px;
			height: 50px;
			background-color: $wh;
			svg {
				stroke: $bl;
				width: 20px;
				height: 18px;
			}
			&.active {
				background-color: $lpurple;
				svg {
					stroke: $purple;
					fill: $purple;
				}
			}
		}
	}
	&__buttons {
		display: flex;
		align-items: flex-start;
		margin: 50px 0 40px;
		&-between {
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			.btn-contact {
				width: 100%;
				margin-bottom: 10px;
			}
			.product-menu__btn {
				width: auto;
				height: 25px;
				background-color: transparent;
			}
		}
	}
	&__contact {
		flex: 1 1 auto;
		margin-right: 15px;
		.btn-contact {
			margin-bottom: 15px;
		}
	}
	&-menu {
		position: relative;
		&__btn {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $wh;
			transition: all .2s linear;
			cursor: pointer;
			img {
				width: 25px;
				&:nth-child(2) {
					display: none;
				}
			}
			&.active {
				img {
					&:first-child {
						display: none;
					}
					&:nth-child(2) {
						display: block;
					}
				}
			}
		}
		&__dropdown {
			display: none;
			width: 200px;
			padding: 10px;
			background-color: $wh;
			filter: drop-shadow(0px 0px 8px rgba(27, 27, 44, 0.4));
			border-radius: 10px;
			position: absolute;
			top: calc(100% + 5px);
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
			a {
				display: block;
				font-family: $ff;
				font-size: 16px;
				font-weight: 400;
				color: $d-blue;
				line-height: $lh;
				margin-bottom: 10px;
				transition: all .2s linear;
				&:hover {
					color: $purple;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&__links {
		margin-top: 30px;
	}
	&__link {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		svg {
			width: 24px;
			height: 24px;
			fill: none;
			stroke: url(#linear-gradient);
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
				margin-left: auto;
				transform: rotate(-90deg);
			}
		}
		span {
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			line-height: $lh;
			display: inline-block;
			background: linear-gradient(180deg, #4C2A9F 0%, #993D8E 100%);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
  			color: #4C2A9F;
  			margin-right: 10px;
  			&:last-child {
  				margin-right: 0;
  			} 
		}
		&:hover {
			svg {
				stroke: $d-purple;
			}
			span {
				background: $d-purple;
				-webkit-background-clip: text;
  				-webkit-text-fill-color: transparent;
				color: $d-purple;
			}
		}
	}
	&-card {
		background-color: $wh;
		border-radius: 6px;
		box-shadow: 0px 4px 13px 4px rgba(27, 67, 47, 0.04);
		position: relative;
		&.removed {
			//pointer-events: none;
			.product-card__photo {
				opacity: 0.7;
			}
			.product-card__info {
				opacity: 0.7;
			}
		}
		&.product-card-big {
				display: flex;
				padding: 20px;
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
				.product-card__photo {
					width: 285px;
					flex: 0 0 285px;
					.favorite {
						display: none;
					}
				}
				.product-card__info {
					flex: 1 1 auto;
					display: flex;
					padding: 0 0 0 30px;
				}
				.product-card__price {
					font-size: 25px;
					margin-bottom: 0;
				}
				.product-card__row {
					justify-content: flex-start;
				}
			}
		.time {
			position: absolute;
			top: 10px;
			left: 6px;
			z-index: 1;
		}
		.favorite {
			position: absolute;
			top: 10px;
			right: 18px;
			z-index: 20;
		}
		.tags {
			margin-top: 20px;
		}
		.info {
			margin-top: 20px;
			&__flex {
				padding-right: 0;
				>* {
					width: calc(50% - 15px);
					margin-right: 30px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			&-item {
				&__description, &__data {
					font-size: 14px;
					font-weight: 400;
				}
			}
		}
		&__name {
			display: block;
			&:hover {
				.product-card__price {
					color: $purple;
				}
				.product-card__data {
					color: $purple;
				}
			}
		}
		&__photo {
			position: relative;
			.btn-call {
				display: none;
				position: absolute;
				bottom: 0;
				right: 20px;
				z-index: 1;
				transform: translateY(50%);
			}
			.viewer-qt {
				position: absolute;
				top: 10px;
				right: 10px;
				z-index: 10;
			}
		}
		&__img {
			display: block;
			img {
				width: 100%;
				height: 170px;
				object-fit: cover;
				border-radius: 6px 6px 0 0;
			}
		}
		&__images {
			display: flex;
			flex-wrap: wrap;
			margin-left: -15px;
			margin-bottom: -15px;
		}
		&__image {
			width: calc(25% - 15px);
			height: 45px;
			margin-left: 15px;
			margin-bottom: 15px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&:first-child {
				width: calc(100% - 15px);
				height: auto;
			}
			&_all {
				position: relative;
				z-index: 1;
				span {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					font-family: $ff;
					font-size: 16px;
					font-weight: 400;
					color: $wh;
					line-height: $lh;
					background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					pointer-events: none;
				}	
			}
		}
		&__info {
			padding: 20px 10px;
			&.wrap {
				flex-wrap: wrap;
				.tags {
					margin-top: 10px;
					margin-left: -325px;
					margin-bottom: 0;
					@media(min-width: 992px) {
						padding-right: 30%;
					}
				}
				.product-card__name {
					margin-right: auto;
				}
			}
		}
		&__price {
			display: block;
			font-family: $ff;
			font-size: 20px;
			font-weight: 600;
			color: $bl;
			line-height: $lh;
			margin-bottom: 10px;
			transition: all .2s linear;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:hover {
				color: $blue;
			}
		}
		a.product-card__description {
			display: inline-block;
			transition: all .2s linear;
			&:hover {
				color: $purple;
			}
		}
		&__description {
			font-family: $ff;
			font-size: 16px;
			font-weight: 400;
			color: $d-blue;
			line-height: $lh;
			margin-bottom: 6px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&__data {
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $d-blue;
			line-height: $lh;
			margin-bottom: 20px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: all .2s linear;
		}
		&__row {
			display: flex;
			justify-content: space-between;
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__place {
			display: flex;
			align-items: flex-start;
			margin-right: 10px;
			span {
				font-family: $ff;
				font-size: 14px;
				font-weight: 400;
				color: $green;
				line-height: $lh;
			}
		}
		&__distance {
			display: flex;
			align-items: flex-start;
			span {
				font-family: $ff;
				font-size: 14px;
				font-weight: 400;
				color: $d-blue;
				line-height: $lh;
				white-space: nowrap;
			}
		}
		&__header {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 8px;
		}
		.estimation {
			margin-right: auto;
			margin-left: 20px;
		}
		&__col {
			&:first-child {
				flex: 1 1 auto;
				margin-right: 30px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&-buttons {
			display: flex;
			a {
				display: inline-block;
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
				svg {
					width: 24px;
					height: 24px;
					fill: none;
					stroke: $d-blue;
				}
				&:hover {
					svg {
						stroke: $purple;
					}
				}
			}
			.favorite {
				position: static;
				background-color: transparent;
				&.active {
					svg {
						stroke: $purple;
						fill: $purple;
					}
				}
			}
		}
	}
	&__about {
		display: flex;
	}
	&__photo {
		width: 70%;
		position: relative;
		img {
			max-width: 100%;
		}
		.qt-pagin {
			position: absolute;
			bottom: 10px;
			left: 10px;
			z-index: 1;
			display: none;
		}
		.time {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 1;
		}
		.stat-box {
			position: absolute;
			top: 465px;
			right: 10px;
			z-index: 1;
		}
		.term-box {
			position: absolute;
			top: 10px;
			left: 10px;
			z-index: 1;
		}
		&_all {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;
			pointer-events: none;
			z-index: 1;
			width: calc(16.77777% - 27px);
			height: 90px;
			span {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: $ff;
				font-size: 30px;
				font-weight: 400;
				color: $wh;
				line-height: $lh;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
			}	
		}
		.slider-for {
			img {
				height: 500px;
				object-fit: cover;
			}
			.slick-active {
				margin-bottom: 30px;
				img {
					width: 100%;
				}
			}
		}
		.slider_nav {
			.slick-list {
				margin: 0 -15px;
			}
			.slick-slide {
				margin: 0 15px;
				cursor: pointer;
				height: 90px!important;
				img {
					width: 100%;
					height: 90px!important;
					object-fit: cover;
				}
			}
		}
		.wrap_slider {
			width: 100%;
			height: 100%;
		}
		.slider-arrow {
			position: absolute;
			top: 250px;
			z-index: 1;
			&_prev {
				left: 30px;
			}
			&_next {
				right: 30px;
			}
		}
	}
	&__info {
		padding-left: 40px;
	}
	.info {
		width: 70%;
	}
}
/*===========/product========*/

/*==========About============*/
.about {
	&__box {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/apartment_3.png") center bottom no-repeat;
		background-size: cover;
		padding: 130px 60px 136px;
	}
	&__row {
		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-bottom: 30px;
	}
	&__col {
		max-width: 200px;
		margin-left: 30px;
		margin-bottom: 30px;
	}
	.title-small {
		color: $wh;
		margin-bottom: 10px;
	}
	.text {
		color: $wh;
	}
	&__links {
		display: flex;
		align-items: center;
		.about__link {
			margin-left: 50px;
			padding-left: 50px;
			position: relative;
			&:before {
				content: "";
				width: 1px;
				height: 70px;
				background-color: $gray;
				position: absolute;
				top: 50%;
				left: 0;
				z-index: 1;
				transform: translateY(-50%);
			}
		}
		.btn {
			min-width: 245px;
		}
	}
	&__link {
		font-family: $ff;
		font-size: 14px;
		font-weight: 700;
		color: $wh;
		line-height: $lh;
		transition: all .2s linear;
		&:hover {
			color: $yellow;
		}
	}
}
/*==========/about============*/

/*==========Preview=============*/
.preview {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin-left: -20px;
		margin-bottom: -20px;
		>* {
			width: calc(50% - 20px);
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}
	&-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 114px;
		position: relative;
		z-index: 1;
		&__photo {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__title {
			font-family: $ffm;
			font-size: 25px;
			font-weight: 700;
			color: $wh;
			line-height: $lh;
			margin-bottom: 5px;
		}
		.text {
			color: $wh;
			margin-bottom: 15px;
		}
		.btn {
			padding: 10px 15px;
		}
	}
	&__link {
		margin-top: 30px;
		font-family: $ff;
		font-size: 16px;
		font-weight: 300;
		color: $d-blue;
		line-height: $lh;
		text-align: center;
		letter-spacing: 0.006em;
		a {
			color: $d-blue;
			text-decoration: underline;
			transition: all .2s linear;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
/*==========/preview=============*/

/*============Location===========*/
.location {
	flex: 1 1 auto;
	display: flex;
	&__choice {
		width: 37.5%;
		padding-right: 50px;
	}
	&__promo {
		width: 62.5%;
		.preview-card {
			height: 100%;
		}
	}
	&-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		height: 36px;
		box-shadow: 0px 4px 7px 1px rgba(12, 22, 37, 0.01);
		border-radius: 6px;
		background-color: $wh;
	}
	&-search {
		position: relative;
		input {
			width: 100%;
			background-color: $lgray;
			border-radius: 6px;
			padding: 12px 45px 12px 13px;
			font-family: $ff;
			font-size: 16px;
			font-weight: 400;
			color: $bl;
			line-height: $lh;
			text-overflow: ellipsis;
			overflow: hidden;
			&::placeholder {
				opacity: 1;
				color: $gray2;
			}
		}
		.location-icon {
			position: absolute;
			top: 50%;
			right: 4px;
			z-index: 1;
			transform: translateY(-50%);
		}
	}
	&-list {
		margin-top: 30px;
		height: calc(52vh - 80px);
		overflow-y: auto;
		&__row {
			display: flex;
			flex-wrap: wrap;
			margin-left: -5px;
			margin-bottom: -5px;
			>* {
				margin-left: 5px;
				margin-bottom: 5px;
			}
		}
		ul {
			margin-top: 25px;
		}
		li {
			margin-bottom: 15px;
			last-child {
				margin-bottom: 0;
			}
			a {
				font-family: $ff;
				font-size: 16px;
				font-weight: 400;
				color: $d-blue;
				line-height: $lh;
				transition: all .2s linear;
				&:hover {
					color: $blue;
				} 
			}
		}
	}
	&-btn {
		display: inline-block;
		border: 1px solid rgba(108, 127, 156, 0.5);
		border-radius: 500px;
		background-color: $wh;
		padding: 9px 10px;
		font-family: $ff;
		font-size: 14px;
		font-weight: 500;
		color: $d-blue;
		transition: all .2s linear;
		&:hover {
			background-color: $purple;
			border-color: $purple;
			color: $wh;
		}
		&.active {
			background-color: $purple;
			border-color: $purple;
			color: $wh;
		}
	}
}
/*============/location===========*/

/*===========Result=========*/
.result {
	.change-btn {
		margin-bottom: 30px;
		display: none;
	}
	&.archive {
		.product-card__col,
		.product-card__photo,
		.tags {
			opacity: 0.7;
			//pointer-events: none;
		}
	}
	&__inner {
		&.line {
			.product-card {
				display: flex;
				padding: 20px;
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
				&__photo {
					width: 285px;
					flex: 0 0 285px;
					.favorite {
						display: none;
					}
				}
				&__info {
					flex: 1 1 auto;
					display: flex;
					padding: 0 0 0 30px;
				}
				&__price {
					font-size: 25px;
					margin-bottom: 0;
				}
				&__row {
					justify-content: flex-start;
				}
			}
		}
	}
}
/*===========/result=========*/

/*===========Poll===========*/
.poll {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px 15px 60px;
	margin: 0 auto 30px;
	max-width: 530px;
	background-color: $wh;
	box-shadow: 0px 4px 13px 4px rgba(27, 67, 47, 0.04);
	border-radius: 10px;
	.title-small {
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	&__card {
		width: 152px;
		min-height: 157px;
		margin-right: 15px;
		border-radius: 10px;
		background-color: #F0F1F4;
		padding:  15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
		&:last-child {
			margin-right: 0;
			.poll__result {
				width: 120%;
				left: -10%;
			}
		}
		&.yes {
			background-color: #FEFFE0;
		}
		&.checked {
			.poll__answer {
				span {
					&:first-child {
						opacity: 0;
					}
					&:nth-child(2) {
						opacity: 1;
					}
				}
			}
		}
	}
	&__result {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		transition: all .2s linear;
		opacity: 0;
		img {
			width: 100%;
		}
		&.show {
			opacity: 1;
		}
	}
	&__icon {
		position: relative;
		z-index: 2;
	}
	&__answer {
		margin-top: 7px;
		position: relative;
		z-index: 2;
		font-family: $ff;
		font-size: 15px;
		font-weight: 500;
		color: #8494BD;
		span {
			&:nth-child(2) {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0;
				transition: all .2s linear;
			}
		}
	}
}
/*===========/poll===========*/


/*=============Adaptive============*/
@media(max-width: 1400px) {
	.product {
		&-menu {
			&__dropdown {
				left: auto;
				right: 0;
				transform: translateX(0);
			}
		}
	}
}
@media(max-width: 1200px) {
	.product {
		.info {
			width: 100%;
		}
		&__about {
			display: block;
		}
		&__photo {
			width: 100%;
			&_all {
				width: calc(16.77777% - 12px);
			}
		}
		&__info {
			margin-top: 20px;
			padding-left: 0;
		}
		&__header {
			.product__price {
				margin-right: 50px;
			}
		}
		&__buttons {
			margin-top: 30px;
		}
		&__links {
			max-width: 310px;
		}
		&__favorite {
			margin-left: auto;
		}
		.slider_nav {
			.slick-list {
				margin: 0 -6px;
			}
			.slick-slide {
				margin: 0 6px;
			}
		}
		.slider-for {
			.slick-active {
				margin-bottom: 12px;
			}
		}
	}
}


@media(max-width: 992px) {
	.title-small {
		font-size: 18px;
	}
	.mb-30 {
		margin-bottom: 20px;
	}
	.bg-wh {
		padding: 40px 0 20px;
	}
	.links-btn {
		display: block;
	}
	.section {
		margin-bottom: 60px;
	}
	.block {
		margin-bottom: 40px;
		&__header {
			.link {
				margin-bottom: 20px;
				white-space: nowrap;
			}
		}
	}
	.card {
		&-box {
			padding: 20px;
		}
	}
	.about {
		&-hypothec {
			.container {
				padding: 0;
			}
		}
	}
	.preview {
		.container {
			padding: 0;
		}
	}
	.location {
		&__choice {
			padding-right: 20px;
		}
	}
	.result {
		&__inner {
			&.line {
				.product-card {
					.product-autor {
						display: none;
					}
					&__col {
						margin-right: 0;
					}
					.product__reason {
						order: 1;
						margin-top: 20px;
						margin-left: 0;
						width: 100%;
					}
					&__info {
						&.wrap {
							.tags {
								margin-left: -15px;
							}
							.product-autor {
								margin-top: 30px;
								display: flex;
								width: 100%;
								order: 1;
								&__name {
									display: none;
								}
								&__date {
									order: 1;
									margin-bottom: 0;
									margin-top: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: 860px) {
	.intro {
		padding: 70px 0 0;
		background: $lgray;
		min-height: auto;
		&__inner {
			display: block;
		}
		&__info {
			width: 100%;
			padding-right: 0;
		}
		&__filters {
			flex: 1 1 100%;
		}
		.filters-box {
			padding: 35px 0 0;
		}
		.logo {
			display: flex;
			margin-top: 5px;
			margin-right: 14px;
			svg {
				width: 50px;
				height: 23px;
				fill: $purple;
			}
		}
		.title-main {
			color: $bl;
			a {
				color: $bl;
				border-color: $bl;
			}
		}
	}
	.preview {
		&-card {
			padding: 82px 30px; 
		}
	}

	.product {
		&__photo {
			.slider-for {
			 img {
			 	height: 380px;
			 }
			}
			.stat-box {
				top: 345px;
			}
			.slider-arrow {
				top: 190px;
			}
		}
	}
}

@media(max-width: 765px) {
	.card {
		&__inner {
			display: block;
			margin-left: 0;
			margin-bottom: -10px;
			>* {
				width: 100%;
				margin-left: 0;
				margin-bottom: 10px;
			}
		}
		&-roll {
			.card-box {
				&__content {
					margin-top: 10px;
					display: none;
				}
				.title-small {
					margin-bottom: 0;
					position: relative;
					&:after {
						content: "";
						width: 24px;
						height: 24px;
						background: url("../images/arrow-down.svg") center no-repeat;
						position: absolute;
						top: 50%;
						transform: translateY(-50%) rotate(-90deg);
						right: 0;
						z-index: 1;
						transition: all .3s linear;
					}
					&.active {
						&:after {
							transform: translateY(-50%) rotate(0);
						}
					}
				}
			}
		}
	}
	.linkblock {
		>* {
			width: calc(50% - 20px);
			&:nth-child(3n+3) {
				margin-right: 0;
			}
		}
	}

	.about {
		&__box {
			padding: 85px 16px 125px;
		}
	}

	.preview {
		&__inner {
			margin-left: 0;
			>* {
				width: 100%;
				margin-left: 0;
			}
		}
		&__link {
			margin-top: 20px;
		}
	}
	.location {
		&__choice {
			width: 100%;
			padding-right: 0;
		}
		&__promo {
			display: none;
		}
		&-list {
			padding-bottom: 50px;
			height: auto;
			max-height: calc(100vh - 300px);
		}
	}

	.info {
		&__flex {
			flex-direction: column;
			>* {
				width: 100%;
				margin-right: 0;
			}
			.tags {
				width: 100%;
				margin-bottom: 30px;
				order: -1;
			}
		}
		&__content {
			padding-bottom: 40px;
		}
		&__block {
			padding: 20px 16px 0;
		}
		&-item {
			&_main {
				.info-item__data {
					font-size: 16px;
				}
			}
		}
	}

	.product {
		&-card {
			.info {
				&__flex {
					>* {
						width: 100%;
						margin-right: 0;
					}
				}
			}
		}
	}
}

@media(max-width: 650px) {
	.tag {
		font-size: 11px;
	}
	.result {
		&__inner {
			&.line {
				display: flex;
				flex-wrap: wrap;
				margin-left: -10px;
				.product-card {
					width: calc(50% - 10px);
					margin-left: 10px;
					display: block;
					padding: 0;
					&__photo {
						width: 100%;
						.btn-call {
							display: inline-flex;
						}
						.viewer-qt {
							display: none;
						}
						.favorite {
							display: flex;
						}
					}
					&__images {
						width: 100%;
						margin-left: 0;
						margin-bottom: 0;
					}
					&__image {
						display: none;
						margin-bottom: 0;
						&:first-child {
							width: 100%;
							margin-left: 0;
							display: block;
							img {
								border-radius: 6px 6px 0 0;
								height: 200px;
								object-fit: cover;
							}
						}
					}
					&__info {
						padding: 20px 15px;
					}
					&__data {
						margin-bottom: 0;
					}
					&-buttons {
						display: none;
					}
					.estimation {
						display: none;
					}
				}
			}
		}
	}
	.product {
		&-card {
			&__info {
				&.wrap {
					.tags {
						margin-left: -15px;
					}
				}
			}
			&.product-card-big {
				width: 100%;
				display: block;
				padding: 0;
				.product-card__photo {
					width: 100%;
					.btn-call {
						display: inline-flex;
					}
					.viewer-qt {
						display: none;
					}
					.favorite {
						display: flex;
					}
				}
				.product-card__images {
					width: 100%;
					margin-left: 0;
					margin-bottom: 0;
				}
				.product-card__image {
					display: none;
					margin-bottom: 0;
					&:first-child {
						width: 100%;
						margin-left: 0;
						display: block;
						img {
							border-radius: 6px 6px 0 0;
							height: 200px;
							object-fit: cover;
						}
					}
				}
				.product-card__info {
					padding: 20px 15px;
				}
				.product-card__data {
					margin-bottom: 0;
				}
				.product-card-buttons {
					display: none;
				}
				.estimation {
					display: none;
				}
			}
		}
	}
}

@media(max-width: 546px) {
	.title-small {
		font-size: 16px;
	}
	.text {
		font-size: 14px;
	}
	.term-box {
		padding: 4px 10px;
	}
	.card {
		&-box {
			padding: 10px;
		}
		&-roll {
			.card-box {
				padding: 15px 10px;
			}
		}
	}
	.product {
		&-card {
			.btn-call {
				display: inline-flex;
			}
		}
		&__info {
			position: relative;
			.product__price {
				font-size: 20px;
			}
			.product__data {
				margin-bottom: 10px;
			}
		}
		&__contact {
			padding-right: 70px;
		}
		&__favorite {
			position: absolute;
			top: 124px;
			right: 60px;
		}
		&__links {
			max-width: 100%;
		}
		.autor {
			display: none;
		}
		&__photo {
			.slider-nav {
				display: none;
			}
			.slider-for {
				.slick-active {
					margin-bottom: 0;
				}
				img {
					height: 200px;
				}
			}
			.slider-arrow {
				display: none!important;
			}
			.stat-box {
				top: auto;
				bottom: 10px;
			}
			.qt-pagin {
				display: block;
			}
			&_all {
				display: none;
			}
		}
	}

	.about {
		&__row {
			margin-top: 40px;
			margin-bottom: 10px;
			flex-direction: column;
		}
		.title-small {
			font-size: 20px;
		}
		.text {
			font-size: 16px;
		}
		&__link {
			display: none;
		}
		.btn {
			width: 100%;
		}
	}
	.result {
		.change-btn {
			display: flex;
		}
		&__inner {
			&.line {
				margin-left: 0;
				.product-card {
					margin-left: 0;
					width: 100%;
				}
			}
		}
	}

	.poll {
		margin: 0 -15px 30px;
		border-radius: 0;
		padding: 20px 15px;
	}
}

@media(max-width: 414px) {
	.card {
		&-partner {
			.link {
				display: inline-flex;
			}
			.btn {
				display: none;
			}
			.card-box__list {
				margin-bottom: -5px;
			}
		}
	}

	.linkblock {
		display: block;
		margin-left: 0;
		margin-bottom: 40px;
		>* {
			width: 100%;
			margin-left: 0;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.linkbox {
		padding: 0 0 10px;
		background-color: $lgray;
		border-bottom: 1px solid #CAD1DC;
		border-radius: 0;
		font-size: 14px;
		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}  
	}

	.product {
		&__inner {
			margin-right: -15px;
			.slick-slide {
				margin-right: 15px;
			}
			.product-card {
				width: 305px!important;
			}
		}
	}
}

@media(max-width: 365px) {
	.product {
		&__inner {
			.product-card {
				width: 280px!important;
			}
		}
		&__contact {
			padding-right: 0;
		}
		&__favorite {
			position: static;
		}
	}

	.poll {
		&__card {
			width: 135px;
		}
	}
}
/*=============/adaptive============*/